<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>频道</title>
    <link rel="stylesheet" href="/assets/css/rem.css">
    <link rel="stylesheet" href="/assets/css/channel.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_791145_k90gpxf8xcd.css">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <div class="left">
        <a href="/index.php?c=page&m=index"><i class="iconfont icon-xiangyou-copy"></i></a>
    </div>
    <p>频道管理</p>
</div>
</body>
</html>